/*Fonts*/
@font-face {
    font-family: 'ProximaNovaRg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* Functions*/
.reg(){
font-family: 'ProximaNovaRg', sans-serif;	
}

.bold(){
	font-family: 'ProximaNovaBold', sans-serif;	
}


/*Vars Colors*/
@btn-color:#fcb303;
@icons-color:#46b814;
@text-color:#1a1820;
@danger-color:#ff0000;
@bg-light:#f5f5f5;
@white:#fff;
@border_input:#dddddd;

/*basic settings*/
html{
	font-size: 10px;
}

/*Typographics*/
section{
	padding: 10rem 0 ;
}

.section-header{
	text-align: center;
	margin: 2rem 0 10rem;
	.bold();
	font-size: 3.6rem;

}


/*main*/
body{
	.reg();
}
.main{
	padding: 3rem 0 5rem;
	background: #fff url('../img/backgroun1.png') center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	&-content{
		margin-top: 14rem;
		h1{
			.bold();
			margin-top: 0;
			font-size: 4rem;
			text-transform: uppercase;
			margin-bottom: 4rem;
			line-height: 1.45;
		}
	}
		&-subtitle{
			font-size: 2.4rem;
			margin-bottom: 4rem;
		}
		span{
			display: inline-block;
			padding:3rem 5rem;
			background-color:@icons-color;
			font-size: 1.8rem;
			color:@white;
			text-align: center;
			strong{
				font-size: 3rem;
				.bold();
			} 
		}
		&-triger{
			display: block;
			margin-top: 3rem;
			font-size: 2.2rem;
			text-transform: uppercase;
			.bold();
		}

		/*form*/
		&-form{
			background-color: @white;
			padding: 4rem 5rem;
			text-align: center;
			/*Заголовок формы*/
			&-header{
				margin-bottom: 4rem;
				font-size: 1.8rem;
				strong{
					font-size: 1.9rem;
				}
			}
			/*Поле для ввода*/
			&-input{
				display: block;
				margin: 2rem 0;
				border:1px solid @border_input;
				width: 100%;
				padding: 1.5rem;
			}
			/*label*/
			label{
				padding: 0.5rem;
				position: absolute;
				left:50%;
				font-size: 1.3rem;
				transform: translateX(-50%) translateY(-50%);
				background-color: @white;
			}
			&-btn{
				.button;
				display:block;
				height: 5.5rem;
				width: 100%;
				font-size: 1.6rem;
			}
			small{
				display: block;
				margin-top: 1.5rem;

			}
		}
	
}

a:hover{
	text-decoration: none;
}
button, input, a{
	&:focus{
		outline: none;
	}
}
.button{
	background-color: @btn-color;
	color:@white;
	.reg();
	font-size: 1.2rem;
	padding: 1rem 3rem;
	text-transform: uppercase;
	border-radius: 8px;
	border:none;
	transition: all 0.2;
	&:hover{
		cursor:pointer;
		background-color: darken(@btn-color,5%);
	}
}
.header{
	height: 7rem;
}

.phone-block{
	text-align: right;
	.phone-link{
	display: inline-block;
	.bold();
	font-weight: 900;
	font-size: 2rem;
	height: 7rem;
	line-height: 7rem;
	color:@text-color;
}
}


.wrap{
	display: table;
	width:100%;
	height: 7rem;
	&-block{
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
}

/*Section Features*/
.features{
	&-block{
		text-align: center;
		h3{
			font-size: 2rem;
			.bold();
			margin-bottom: 3rem;
		}
		p{
			font-size: 1.6rem;
			display: inline-block;
			width: 80%;
		}
	}
	&-img{
		height: 8rem;
		margin-bottom: 3rem;
		img{
			display: block;
			margin: 0 auto;

		}
	}
}

.slick-active{
	outline: none;
}
/*media request*/
@media (max-width:991px){
	.main{
		background-position: top right;
	}
	.phone-block{
		text-align: center;
	}
	.main-title{
		text-align:center;
		padding-bottom: 3rem;
	}
	.main-content{
		margin-top: 3rem;
	}
}

@media (max-width: 767px){
	.main{
		background-position: top left;
	}
	.header{
		text-align: center;	
	}

	.wrap-block{
		text-align: center;
	}
}


